body {
    font-family: Arial;
    margin: 0;
    background: #111;
    color: white;
}

.hidden { display: none; }

#login-container {
    padding: 20px;
}

input, button {
    width: 100%;
    margin: 6px 0;
    padding: 12px;
    border-radius: 8px;
}

#app {
    display: flex;
}

#sidebar {
    width: 30%;
    background: rgba(255,255,255,0.1);
    padding: 10px;
}

#main-content {
    width: 70%;
    padding: 20px;
}

.box {
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.entrata { background: rgba(0,255,0,0.2); }
.uscita { background: rgba(255,0,0,0.2); }

.green {
    width: 10px; height: 10px;
    background: lime;
    border-radius: 50%;
    display: inline-block;
}

.red {
    width: 10px; height: 10px;
    background: red;
    border-radius: 50%;
    display: inline-block;
}
